---
import Container from "./Container.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row">
    <div class="row items-center py-5 md:pr-16 md:w-6/12 md:py-10">

</div>




</Container>